# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
*.swp
*.swo
.DS_Store
Thumbs.db
temp_resized_image.png

# Logs
*.log

# Environment variables
.env

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 